# APP REMOTA (não está no Docker local)
# Use o IP público ou DNS da máquina que roda este stack.
OTEL_EXPORTER_OTLP_ENDPOINT=http://IP_DO_HOST_DOCKER:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_RESOURCE_ATTRIBUTES=service.namespace=GeneXus,service.name=minha-app,service.version=1.0.0
GX_LOG_LEVEL=debug
