# App fora da stack do Coolify (HTTP por domínio)
# Exemplo: https://otel.davidagostini.com.br
OTEL_EXPORTER_OTLP_ENDPOINT=https://otel.davidagostini.com.br
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_RESOURCE_ATTRIBUTES=service.namespace=GeneXus,service.name=minha-app,service.version=1.0.0
GX_LOG_LEVEL=debug
